/* src/components/Header.css */

.header {
    width: 100%;
    background-color: #4b0000;
    /* Rojo oscuro */
    color: white;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    align-items: center;
    text-align: left;
}

.header-logo {
    width: 60px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.divider {
    width: 1px;
    height: 52px;
    background-color: rgb(255, 255, 255);
    margin: 0 15px;
    border-radius: 1px;
}

.header-text h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.header-text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 1.2;
    opacity: 0.9;
}